

.login-container{
    background-color:white ;
    
    width: 90%;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 5px;
    
    justify-content: center;
    display: flex;
    align-items: center;

    box-shadow: -2px 3px 5px 0px rgba(200,200,200,0.75);
    -webkit-box-shadow: -2px 3px 5px 0px rgba(200,200,200,0.75);
    -moz-box-shadow: -2px 3px 5px 0px rgba(200,200,200,0.75);
}


.login{
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.login--logo{
    display: block; 
    width: 100px; 
    height: 65px;
    margin-bottom: 0;
}

.login--title{
    color : var(--main-color) ;
    font-size: 20px;
    margin-top: 20px ;
}


.login--form{
    display: flex;
    flex-direction: column;
}
.login input {
    font-size: 14px;
    opacity: .5;
    padding-left : 10px ;
    height: 40px;
    width: 100%;
    margin-bottom: 18px;
    outline: none;
    border: none;
    border-bottom: 1px  solid black ;
}

.login input:focus{
    opacity: 1;
}

.login--email{

}

.login--password{

}



.login--text{
    width: 100%;
    font-size: 14px; 
    font-weight: 400;
    opacity: .5;
    margin-top : 25px ;
    margin-bottom : 8px ;
    text-align: center;
}

.login--text span {
    display: inline-block; 
    max-width: 50%;
    margin-inline: 5px;
}

.login hr{
    display: inline-block; 
    width: 20%;
    position: relative;
    top : 5px
}


@media screen and (min-width : 600px) {
    
    .login-container{
        width: 80%;
    
    }
    .login{
        width: 300px;
    }


    
}

@media screen and (min-width : 750px) {
    
    .login-container{
        width: 60%;
    
    }
    .login{
        width: 350px;
    }

    
}

@media screen and (min-width : 950px) {
    
.login-container{
    width: 45%;

}
.login{
    width: 400px;
}


}


