
.sideBar{
    background: white;
    color : rgb(27, 7, 89);
    width: 300px;
    position: absolute;
    top : 0 ; 
}
ul {
    margin: 0;
    padding: 0;
    
}
.ct-ul{
    margin: 0;
    padding: .5rem 1.3rem;
}
.ct-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin:  .5rem 0 .2rem ;
    padding-bottom: 5px;
    border-bottom: 1px solid #E8E8E8;
    font-weight: 700;
}

.ct-item--details > *{
    font-weight: 300;
    font-size: .9rem;
    padding: .5rem 0;
    line-height: 80%;
}