.navbar{
    color : white ;
    background-color: #0E5AA7;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2.5%;
}
.navbar--right{
    flex: 1;
}
.navbar--left{
    flex: 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar--searchBar{
    width: 60%;
}



@media screen and (max-width : 800px) {
    .navbar--left{
        flex: 1;
    }
    .navbar--searchBar{
        display: none;
    }

    .navbar{
        padding-inline: 5%;
    }
    
}
