

.cart{
    color : white ;

    font-size: .9rem;
    font-weight: 700;
    
    width: 4.6rem;
    height: 2rem;
    padding: .4rem .4rem;
    border: 1.3px solid white;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.cart:hover{
    color : rgb(14, 51, 104); 
    border-color:  rgb(14, 51, 104); 
}


.cart-icon{
    position : relative ;
}

.cartQuantity{
    background-color: red;
    font-size: .6rem;
    
    height : 12px ; 
    width: 12px; 
    top : -0.4rem;
    right : -0.4rem;
    border-radius: 50%;

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}